#not working

header
{
    background-color:#0B486B;
    padding:2%  2% 1% 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
}
body{
    background-color: tan;
}
footer
{
    color:tan;
    margin-bottom: 0px;
}
input[type="text"]
{
    width:600px;
    border-radius: 8px solid white;
}
.notice 
{
    width:100%;
    background-color: green;
    height: 30px;
    color:white;
}
.alert
{
    width:100%;
    background-color: red;
    height: 60px;
    color:white;
    text-align: center;
}
flash {
    width:100%;
    background-color: green;
    height: 30px;
    color:white;
}
.pagination
{
    float:right;
    color:tan;
    text-decoration: none;

}
::selection
{
    background-color:tan;
}
::-moz-selection
{
    background-color:tan;
}