<h1 class="welcome" align="center">Welcome to TimeTracker!</h1>
<div align="center">
    <%= image_tag("home_illo.png",:class=>"image-responsive") %>
</div>
<h1 class="o-hero__header__headline" style="" align="center">Where Work Happens</h1>