<h1>Work</h1>
<ul>
<%= @works.each do |work| %>
<li>
    Project Name <%= work.project.project_name %>
  </li>
<li> 
 Project Company <%= work.project.company.name %>
</li>
<li>
    <%= link_to work.id,work %>
</li>
<% end %>
