<div class="container">
<h1>Project show</h1>

<%= render partial:"projectshow" %>

<br>
=begin
to add aside bar
=end
<%= content_for :aside do %>
    <% render 'sidebar' %>
<% end %>
<%= link_to "All Projects",projects_path %>
</div>