<table class="table table-striped ">
<tr>
    <th>Company Id</th>
    <th>Company Name</th>
    <th>Edit</th>
</tr>
<tr>
<td><%= @show.id %></td>
<td><%= @show.name %></td>
<td><%=  link_to "Edit Details",edit_company_path(@show) %></td>
</tr>
</table>