<table class="table">
<tr>
    <th>Project Name</th>
    <th>Project Company</th>
    <th>Project Default Rate</th>
</tr>
<tr>
    <td><%= @project.project_name %></td>
    <td><%= @project.company.name%>
    <td><%= @project.default_rate %></td>
</tr>
</table>