<h1>Project index</h1>

<ul>
<% @projects.each do |project| %>
    <li><%= link_to project.project_name,project %></li>
<% end %>

<%= link_to "Home",root_path %>
<%= link_to "Project Home",project_index_path %>
