<h1>Project show</h1>
<table class="table">
<tr>
    <th>Project Name</th>
    <th>Project Company</th>
</tr>
<tr>
    <td><%= @project.project_name %></td>
    <td><%= @company.name%>
</tr>
</table>
<br>

<%= link_to "All Projects",project_index_path %>
