<h1>New Company</h1>
 <%= form_for("companynew",method:"post") do %>
    <%= label_tag(:q,"Name") %>
    <%= text_field(:q,:name) %>
    <br>
    <%= submit_tag("Create Company",style:"color:tan") %>
 <% end %>