<!DOCTYPE html>
<html>
<head>
    <meta ontent="text/html;charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>
    <h1>Work Created</h1>
    <p>User <%= @work.user %>
    <br>
    <%= @work.created_at %>
    <br>
    Project:<%= @work.project.name%>
    <br>
    Hours:<%= @work.hours %></p>
    
</body>
</html>